* {
  box-sizing: border-box;

}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  display: flex;
  justify-content: center;
}

.uvodni-stranka {
  display: flex;
  flex-direction: column;
  margin: 30vw;
  margin-top: 10vh;
  width: 360px;
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
  line-height: 1.5;
}

.uvod {
  background-color: #283e50;
  padding: 10px;
}


img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 3rem;
  margin: 0.5rem;
}

.uvodni-stranka a {
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
}


.pravidla {
  background-color: #1fcca4;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.zacit-hrat {
  border-top: 1px solid #283e50;
  background-color: #0197f6;
}

.zacit-hrat:hover {
  background-color: #0090e9;
}
