*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 2vw;
}


body {
  background-image: linear-gradient(#615dad, #ffc8da);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.content-homepage {
  display: flex;
  flex-direction: column;
  margin-top: 10vmin;
  max-width: 80vmin;
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
  line-height: 1.5;
}


.introduction {
  background-color: #283e50;
  padding: 10px;
}


.content-homepage img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 3rem;
  margin: 0.5rem;
}


.content-homepage a {
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
}


.btn-rules {
  background-color: #1fcca4;
}

.btn-rules:hover {
  background-color: #1cbb96;
}

.btn-game-start {
  border-top: 1px solid #283e50;
  background-color: #0197f6;
}


.btn-game-start:hover {
  background-color: #0090e9;
}

/* hra.html*/

.content-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vmin;
  max-width: 80vmin;
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
  line-height: 1.5;
}

.top-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80vmin;
  margin: 10px 0 10px 0;
}

.player-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.btn-player {
  display: flex;
  font-size: 3rem;
  padding: 0px;
}

.game-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


.game-buttons img {
  width: 3rem;
  aspect-ratio: 1 / 1;
}

.btn-home {
  display: flex;
  background-color: #1fcca4;
  border-radius: 10px;
}

.btn-home:hover {
  background-color: #1cbb96;
}

.btn-restart {
  display: flex;
  background-color: #0197f6;
  border-radius: 10px;
}

.btn-restart:hover {
  background-color: #0090e9;
}

.area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid black;
  max-width: 80vmin;
}

button:hover {
  filter: brightness(110%);
}

.square {
  width: calc((80vmin - 2px) /10);
  aspect-ratio: 1 / 1;
  background-color: #cb9ac0;
  border: 1px solid black;
}
